<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Bills</title>
  </head>
  <body>
    <nav><%- include('../partials/_navbar.ejs') %></nav>
    <h1>BillBuddy DashBoard</h1>
    <div>
      <p>
        This is where i'm going to insert Total Debt and # of Bills. Should be
        two buttons that will lead to the views page
      </p>
    </div>

    <div>
      <p>
        This is another division where it's just going to show all bills that
        are due today
      </p>
    </div>

    <div>
      <p>
        In this div, there will be two sections of just completed bills and
        unpaid bills
      </p>
    </div>
    <div>
      <button>This is the button that will just be to add a new bill</button>
    </div>
  </body>
</html>
